.Loader {
  position: fixed;
  background: rgba(64, 64, 64, 0.75);
  z-index: 2;
  display: grid;
  place-items: center;
inset: 0;
transition: transform 0.5s ease-in-out;
  &__icon{
    animation: spin 1s linear infinite;
    fill: #fff;
    width: 40px;
    height: 40px;
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
    
            to {
                transform: rotate(360deg);
            }
        }
  }
}
.hide {
    transform: scale(0);
    display: none;
}

.show {
    transform: scale(1);
}