@import "../../../sass/values";
.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;
    align-items: center;
    color: $dark-text;
    &__links{
        display: flex;
        justify-content: space-between;
        flex-basis: 40%;
        height: fit-content;
    }
    &__Wallet{
        background: $main;
        padding: 10px 20px;
        color: #fff;
        border-radius: 10px;
        font-weight: 400;
    }
}