@import "../../../sass/values";
.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 7;
    @media screen and (max-width: 1200px) {
            padding: 30px;
        }
    
        @media screen and (max-width: 900px) {
            padding: 15px;
        }
    align-items: center;
    &__container{
        display: flex;
        @media screen and (max-width: 900px) {
                display: none;
            }
        justify-content: space-between;
        width: 70%;
        align-items: center;
    &__links{
        display: flex;
        justify-content: space-between;
        flex-basis: 60%;
        height: fit-content;
    }
    &__openWallet{
        background: $main;
        padding: 10px 20px;
        color: #fff;
        border-radius: 10px;
        font-weight: 400;
        cursor: pointer;
        display: block;
        &__wallet{
            width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
    &__menuIcon{
        width: 30px;
        height: 3px;
        background: #000;
        position: relative;
        display: none;
        border-radius: 99px;
        cursor: pointer;
        @media screen and (max-width: 900px) {
            display: block;
        }
        &::before{
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 30px;
            height: 3px;
            background: #000;
            border-radius: 99px;
            cursor: pointer;
        }
        &::after{
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 30px;
            height: 3px;
            background: #000;
            border-radius: 99px;
            cursor: pointer;
        }

    }
}