.PlaceToStayContent{
    padding: 50px;
    @media screen and (max-width: 1200px) {
        padding: 30px;
    }
    @media screen and (max-width: 900px) {
                padding: 15px;
            }
    &__filters{
        display: flex;
        justify-content: space-between;
        &__icon{
            display: flex;
            gap: 30px;
            border: 1px solid #B4B4B4;
            padding: 10px;
            border-radius: 8px;
            align-items: center;
            cursor: pointer;
        }
    }
        &__cards {
            padding: 50px 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;
            @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
            }
            @media screen and (max-width: 900px) {
                grid-template-columns: repeat(2, 1fr);   
                padding: 15px;
            }
        }
}