@import "../../../sass/values";
.Hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 0px;
    @media screen and (max-width: 1200px) {
            padding: 75px 30px;
            flex-direction: column-reverse;
        }
    
        @media screen and (max-width: 900px) {
            padding: 50px 15px;
        }
    color: $dark-text;
    &__container{
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media screen and (max-width: 900px) {
            gap: 15px;
        }
        min-height: 500px;
        h1{
            font-weight: 400;
            font-size: 2.35rem;
            line-height: 78.4px;
            span{
                background: $main;
                background-clip: text;
                color: transparent;
                font-weight: 700;
            }
        }
        p{
            font-size: 1.15rem;
            font-weight: 400;
            line-height: 35px;
        }
        &__form{
            display: flex;
            font-size: 0.95rem;
            width: 100%;
            &__input{
                border: 1px solid $input-border;
                padding: 10px 20px;
                border-radius: 8px 0px 0px 8px;
                width: 100%;
            }
            &__submit{
                background: $main !important;
                color: #fff;
                padding: 20px 50px;
                border-radius: 0px 8px 8px 0px
            }
        }
    }
 &__images{
    flex-basis: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    .hero2{
        margin-top: 100px;
    }
    .hero3{
        margin-top: -100px;
    }
 }
}