.Error{
        position: fixed;
        background: rgba(64, 64, 64, 0.3);
        display: none;
        place-items: center;
        transition: transform 0.5s ease-in-out;
        inset: 0;
        z-index: 3;
        &__container {
            background: #fff;
            border-radius: 8px;
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            gap: 30px;
            @media screen and (max-width: 900px) {
                width: 90%;
            }
            &__icon{
                width: 40%;
            }
            p{
                font-size: 1.5rem;
                font-weight: 400;
                text-align: center;
            }
        }
}
.hide {
    transform: scale(0);
}

.show {
    transform: scale(1);
    display: grid;
}