.Places {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    @media screen and (max-width: 1200px) {
            padding: 30px;
        }
    
        @media screen and (max-width: 900px) {
            padding: 15px;
        }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    
        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 15px;
        }
  }
}
