@import "../../../sass/values";
.Cta{
    background: $main;
    display: flex;
    padding: 50px;
    position: relative;
    height: 80vh;
    align-items: center;
    @media screen and (max-width: 1200px) {
        gap: 30px;
        flex-direction: column-reverse;
    }
    
    @media screen and (max-width: 900px) {
            height: auto;
            padding: 40px 15px;
        }
    &__container{
        h2{
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
            margin-bottom: 20px;
        }
        p{
            font-size: 1.15rem;
            font-weight: 400;
            line-height: 35px;
            color: #fff;
        }
        button{
            background: #fff;
            border-radius: 8px;
            padding: 20px 50px;
            font-weight: 400;
            margin-top: 20px;
            span{
                background: $main;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;
                
            }
        }
    }
    &__images{
        flex-basis: 50%;
        width: 50%;
        position: relative;
        display: block;
        height: 100%;
        @media screen and (max-width: 900px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                display: none;
            }
        img{
            width: calc(3/5 * 100%) !important;
        }
        &__cta1{
            margin-right: 20px;
            z-index: 1;
            position: absolute;
            top: 50px;

        }
        &__cta2{
            position: absolute;
            bottom: 0px;
            right: 0;
            z-index: 2;
        }
        &__cta3{
            position: absolute;
            right: 0;
            z-index: 0;
            top: -30px;
        }
    }
    &__container{
        flex-basis: 50%;
    }
}